src/main/mule/mapfilterobject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="mapfilterobjectFlow" doc:id="b0de2461-a756-44e7-b48f-531e8546916d" >
		<http:listener doc:name="Listener" doc:id="72054c89-7d86-44f5-bee3-5f849a9f73cf" config-ref="HTTP_Listener_config" path="/mapfilterobject"/>
		<ee:transform doc:name="Transform Message" doc:id="bb7d7307-a0ec-4cf2-a00b-428e5f96c3d5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"employee" : payload.employeedetils.employee1
mapObject ((value, key, index) -> 
	if(value == "ashok")
	{
		(key) : value,
		"report to" : "thirisha",
		"report to " : "subbareddy"
	}
	else{
	      
	}
)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d2c22ab1-b364-4a9b-b410-8c299fc99e1c" message="#[payload]"/>
	</flow>
</mule>
