src/main/mule/syncasnyc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8f262c65-e1f1-4178-9351-bcfea2a49570" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="a2fc9533-18bf-4a42-b209-d65a5abb5fbe" />
	<flow name="excel" doc:id="67870423-7a83-4721-acb5-13c09b0095b8" >
		<http:listener doc:name="Listener" doc:id="2e7fefa5-e3a1-4da5-961b-a8be4ee09676" config-ref="HTTP_Listener_config" path="/sendxlx"/>
		<set-variable value="#[attributes.queryParams.format]" doc:name="Set Variable" doc:id="f997b6d6-fbb0-498c-9ba0-2ef6fd3c5133" variableName="queryparamformat"/>
		<set-variable value="#[attributes.headers.'content-type']" doc:name="Set Variable" doc:id="1eafb803-3e84-4c9a-9628-dffbdfe5294e" variableName="hederformat"/>
		<ee:transform doc:name="Transform Message" doc:id="9f058e79-5fe3-45e6-9571-55c0944fae50" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requsteddataformat" ><![CDATA[%dw 2.0
output application/json
---
if(isEmpty(vars.queryparamformat)== true )
	splitBy(vars.hederformat,'/') [1]
	else
	vars.queryparamformat
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:read doc:id="ef9d9da8-3e52-40c2-88f7-3b69d4ccc1f9" config-ref="File_Config" path="D:\ashok\p\frnds.xlsx" outputMimeType="application/xlsx" doc:name="Read xls data"/>
		<choice doc:name="Choice" doc:id="18b5d459-f825-4e56-b9f2-ca00f85519dc" >
			<when expression="#[vars.requsteddataformat == 'csv']">
				<ee:transform doc:name="csv" doc:id="6064f764-f8d9-4151-a1c8-17103064101c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[vars.requsteddataformat == 'xml']">
				<ee:transform doc:name="xml" doc:id="47510132-4d3d-40b3-9179-9ff21b841ac8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	"btechgroup":
	{
		"frnds" : payload
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[vars.requsteddataformat == 'json']">
				<ee:transform doc:name="json" doc:id="cfc78e3f-c169-401b-b3ca-7c3fa8f2d8f1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

	payload
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[isEmpty(vars.requsteddataformat)]">
				<ee:transform doc:name="json when no format specified" doc:id="2c107162-a698-4460-b1de-e6d291fb65a8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="11e07fce-cd7e-4cb5-9f8a-cc663c1445bd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "this  is default case"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="flow ended" doc:id="289f4f91-b57b-4288-bbc4-f0b168fe4b25" message="#[payload]"/>
	</flow>
</mule>
